DRIVER=~fastapi
# 配置 NoneBot 监听的 IP / 主机名
HOST=127.0.0.1
# 配置 NoneBot 监听的端口
PORT=8901

# 机器人昵称
NICKNAME=["ttd", "Ttd", "TTD"]
# 配置命令起始字符
COMMAND_START=[""]
# 配置命令分割字符
COMMAND_SEP=[" "]

SUPERUSERS=[""]

chatrecorder_record_send_msg=True
citation_counter_ignore_user_ids=[""]

LOCALSTORE_DATA_DIR=./data
citation_counter_db_path=./db/citation_count.db

# === nonebot_plugin_analysis_bilibili ===
# 当图片大小超过下值时，修改图片大小，不填则发送原图，example: 100h / 100w / 100h_100w
analysis_images_size = "512h_512w"
analysis_cover_images_size = "512h_512w" # 封面图大小，和上面相同，视频、直播、番剧 封面图使用这个大小

analysis_reanalysis_time = 300 # 同一个视频重新解析时间，单位秒，0为不重新解析，example: 60 （设置为 0 的时候只记录上一个，大于 0 时记录多个链接）
analysis_display_image = true # 是否显示封面 true/false

analysis_trust_env = true # 是否使用环境变量或者当前系统正在使用中的代理设置 true/false

# === nonebot_plugin_status ===
server_status_only_superusers = false
SERVER_STATUS_TEMPLATE='
cpu: {{ "%02d" % cpu_usage }}%
mem: {{ "%02d" % memory_usage.percent }}%
uptime: {{ uptime | relative_time | humanize_delta }}
runtime: {{ runtime | relative_time | humanize_delta }}
online time: {{ bot_connect_time.values() | list | first | relative_time | humanize_delta }}
'
