services:
  nonebot:
    build: .
    image: trytodupe/ttd-bot:latest
    ports:
      - "8901:8901"
    environment:
      HOST: 0.0.0.0
      PORT: 8901
      # LOG_LEVEL: DEBUG
    volumes:
      - ./data:/app/data
      - ./db:/app/db
      - /usr/share/fonts:/usr/share/fonts
      - ./.env:/app/.env:ro
      # - ./fonts:/usr/share/fonts
    restart: always
